<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faaya.fernandoaranaandrade.bggquery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logobgg"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.faaya.fernandoaranaandrade.bggquery.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.faaya.fernandoaranaandrade.bggquery.ChoseGamesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faaya.fernandoaranaandrade.bggquery.MainActivity" />
        </activity>
        <activity android:name="com.faaya.fernandoaranaandrade.bggquery.HistorialActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faaya.fernandoaranaandrade.bggquery.MainActivity" />
        </activity>
        <activity android:name="com.faaya.fernandoaranaandrade.bggquery.WebActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faaya.fernandoaranaandrade.bggquery.ChoseGamesActivity" />
        </activity>
        <activity android:name="com.faaya.fernandoaranaandrade.bggquery.LudotecaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faaya.fernandoaranaandrade.bggquery.MainActivity" />
        </activity>
        <activity android:name="com.faaya.fernandoaranaandrade.bggquery.HotActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.faaya.fernandoaranaandrade.bggquery.MainActivity" />
        </activity>
    </application>

</manifest>